<div data-role="view" data-title="login">
    <div class="container login-form">
        <div class="col-xs-12">
            <form role="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" placeholder="username" class="login-input k-textbox" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="password" class="login-input k-textbox" />
                </div>
                <button data-role="button" class="login-input">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>

    
    

</script>
